body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

.container {
  width: 300px;
  margin: 20px auto 0;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 20px;
  border-radius: 5px;
}

label,
select,
input {
  display: block;
  margin-bottom: 10px;
}

input[type="text"] {
  width: 100%;
}

input[type="number"] {
  width: 100%;
}

.total {
  font-weight: bold;
  margin-top: 10px;
}
.background {
  z-index: -99;
}
